{% extends "base.html" %}
{% block content %}
    <div class="primary col-lg-8 col-12">
        {% if user.about %}{% include "includes/project/about.html" %}{% endif %}
        {% include "includes/project/project_list.html" %}
        {% include "includes/project/other_project_list.html" %}
        {% if user.jobs.all|length > 0 %}{% include "includes/project/work_experience.html" %}{% endif %}
        {% include "includes/project/github.html" %}
        {% include "includes/project/contacts.html" %} 
    </div>
    <div class="primary col-lg-4 col-12">
        {% if user.skills.all|length > 0 %}{% include "includes/project/skills.html" %}{% endif %}
        {% if user.recomendations.all|length > 0 %}{% include "includes/project/recomendations.html" %}{% endif %}
        {% if user.languages.all|length > 0 %}{% include "includes/project/languages.html" %}{% endif %}
        {% if user.educations.all|length > 0 %}{% include "includes/project/education.html" %}{% endif %}
    </div>
{% endblock content %}
