{% extends "base.html" %}
{% block content %}
    {% include "includes/project/about.html" %}
    {% include "includes/project/project_list.html" %}
    {% include "includes/project/other_project_list.html" %}
    {% include "includes/project/experience.html" %}
    {% include "includes/project/github.html" %}
    {% include "includes/project/contacts.html" %}
    {% include "includes/project/skills.html" %}
    {% include "includes/project/recomendations.html" %}
    {% include "includes/project/education.html" %}
{% endblock content %}