<aside class="info aside section">
    <div class="section-inner shadow-sm rounded">
        <h2 class="heading sr-only">Basic Information</h2>
        <div class="content">
            <ul class="list-unstyled">
                <li>
                    <i class="fas fa-map-marker-alt"></i>
                    <span class="sr-only">Location:</span>
                    {{ candidate.city }}, {{ candidate.country }}
                </li>
                <li>
                    <i class="fas fa-envelope"></i>
                    <span class="sr-only">Email:</span>
                    <a href="mailto:{{ candidate.email }}">{{ candidate.email }}</a>
                </li>
            </ul>
        </div>
        <!--//content-->
    </div>
    <!--//section-inner-->
</aside>
<!--//aside-->
