<aside class="education aside section">
    <div class="section-inner shadow-sm rounded">
        <h2 class="heading">Education</h2>
        <div class="content">
            {% for education in candidate.educations.all %}
                <div class="item">
                    {% if education.image %}
                        <div class="d-flex justify-content-between">
                            <h3 class="title">
                                <i class="fas fa-graduation-cap"></i>
                                {{ education.title }}
                            </h3>
                            <button class="btn btn-cta-secondary me-3 py-0 education-btn"
                                    id="{{ education.pk }}"
                                    data-bs-toggle="modal"
                                    data-bs-target="#eduationModal">Cert</button>
                        </div>
                    {% else %}
                        <h3 class="title">
                            <i class="fas fa-graduation-cap"></i>
                            {{ education.title }}
                        </h3>
                    {% endif %}
                    <h4 class="university">
                        {{ educattion.place }}
                        <span class="year">({{ education.date_from|date:"Y" }}-{{ education.date_to|date:"Y"|default:"Present" }})</span>
                    </h4>
                </div>
                <!--//item-->
            {% endfor %}
        </div>
        <!--//content-->
    </div>
    <!--//section-inner-->
</aside>
<!--//section-->
{% include "includes/pdf_modal.html" %}
