{% load i18n %}
<aside class="languages aside section">
    <div class="section-inner shadow-sm rounded">
        <h2 class="heading">{% trans "Languages" %}</h2>
        <div class="content">
            <ul class="list-unstyled">
                {% for language in candidate.languages.all %}
                    <li class="item">
                        <span class="title"><strong>{{ language.title }}:</strong></span>
                        <span class="level">{{ language.level }}
                            <br class="visible-sm visible-xs" />
                            {% for star in language.stars|make_list %}<i class="fas fa-star"></i>{% endfor %}
                        </span>
                    </li>
                    <!--//item-->
                {% endfor %}
            </ul>
        </div>
        <!--//content-->
    </div>
    <!--//section-inner-->
</aside>
<!--//section-->
