<section class="projects section">
    <div class="section-inner shadow-sm rounded">
        <h2 class="heading">Other Projects</h2>
        <div class="content">
            {% for project in candidate.other_projects.all %}
                <div class="item project-card" hidden>
                    <h3 class="title">
                        <a href={{ project.github_link }} target="_blank">{{ project.title }}</a>
                    </h3>
                    <p class="summary">{{ project.description }}</p>
                    <p>
                        <a class="more-link" href={{ project.github_link }} target="_blank">
                            <i class="fas fa-external-link-alt"></i>
                            View on GitHub
                        </a>
                    </p>
                </div>
                <!--//item-->
            {% endfor %}
            <div class="d-flex justify-content-center">
                <button class="btn btn-cta-secondary load-more-projects-button">Load More</button>
            </div>
        </div>
        <!--//content-->
    </div>
    <!--//section-inner-->
</section>
<!--//section-->
