{% load i18n %}
<section class="projects section">
    <div class="section-inner shadow-sm rounded">
        <h2 class="heading">{% trans "Other Projects" %}</h2>
        <div class="content">
            {% for project in candidate.other_projects.all %}
                <div class="item load-more-card" hidden>
                    <h3 class="title">
                        <a href={{ project.github_link }} target="_blank">{{ project.title }}</a>
                    </h3>
                    <p class="summary">{{ project.description }}</p>
                    <p>
                        <a class="more-link" href={{ project.github_link }} target="_blank">
                            <i class="fas fa-external-link-alt"></i>
                            {% trans "View on GitHub" %}
                        </a>
                    </p>
                </div>
                <!--//item-->
            {% endfor %}
            {% include "includes/load_more_button.html" %}
        </div>
        <!--//content-->
    </div>
    <!--//section-inner-->
</section>
<!--//section-->
