{% load i18n %}
{% load thumbnail %}
{% load formaters %}
<section class="latest section">
    <div class="section-inner shadow-sm rounded">
        <h2 class="heading">{% trans "Latest Projects" %}</h2>
        <div class="content d-flex flex-column">
            {% for project in candidate.projects.all %}
                {% if forloop.first %}
                    <div class="item featured text-center">
                        <div class="featured-image has-ribbon">
                            <a href={{ project.online_link }} target="_blank">
                                {% thumbnail project.image "636x270" crop="center" upscale=False quality=100 as im %}
                                    <img class="img-fluid project-image rounded shadow-sm" src={{ im.url }} alt={{ project.title }} />
                                {% endthumbnail %}
                            </a>
                            <div class="ribbon">
                                <div class="text">{% trans "New" %}</div>
                            </div>
                        </div>
                        <h3 class="title mb-3">
                            <a href={{ project.online_link }} target="_blank">{{ project.title }}</a>
                        </h3>
                        <div class="mb-3 desc d-flex flex-wrap justify-content-around ">
                            {% for stack in project.stack.all %}
                                <div class="m-1 border border-2 rounded-2 px-2 bg-opacity-50">{{ stack }}</div>
                            {% endfor %}
                        </div>
                        <div class="mb-3 desc text-start">
                            <p>{{ project.description|safe|linebreaks }}</p>
                        </div>
                        <!--//desc-->
                        <div class="d-flex justify-content-between">
                            <a class="btn btn-cta-secondary me-3" href={{ project.github_link }} target="_blank">
                                <i class="fas fa-thumbs-up"></i>
                                {% trans "Source code" %}
                            </a>
                            <a class="btn btn-cta-secondary" href={{ project.online_link }} target="_blank">
                                <i class="fas fa-thumbs-up"></i>
                                {% trans "View online" %}
                            </a>
                        </div>
                    </div>
                {% else %}
                    <div class="load-more-card" hidden>
                        <hr class="divider" />
                        <div class="item row">
                            <a class="d-flex justify-content-center col-md-4 col-12" href={{ project.online_link }} target="_blank">
                                {% thumbnail project.image "636x270" crop="center" upscale=False quality=100 as im %}
                                    <div>
                                        <img class="img-fluid project-image rounded shadow-sm" src={{ im.url }} alt={{ project.title }} />
                                    </div>
                                {% endthumbnail %}
                            </a>
                            <div class="desc col-md-8 col-12">
                                <h3 class="title">
                                    <a href={{ project.online_link }} target="_blank">{{ project.title }}</a>
                                </h3>
                                <div class="d-flex flex-wrap justify-content-between">
                                    {% for stack in project.stack.all %}
                                        <div class="border border-2 rounded-2 px-2 bg-opacity-50 ">{{ stack }}</div>
                                    {% endfor %}
                                </div>
                                <p class="my-2">{{ project.description|safe|linebreaks }}</p>
                                <p class="d-flex justify-content-between">
                                    <a class="more-link" href={{ project.github_link }} target="_blank">
                                        <i class="fas fa-external-link-alt"></i>
                                        {% trans "Source code" %}
                                    </a>
                                    <a class="more-link" href={{ project.online_link }} target="_blank">
                                        <i class="fas fa-external-link-alt"></i>
                                        {% trans "View online" %}
                                    </a>
                                </p>
                            </div>
                            <!--//desc-->
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
            {% include "includes/load_more_button.html" %}
        </div>
        <!--//content-->
    </div>
    <!--//section-inner-->
</section>
<!--//section-->
