{% load i18n %}
<section class="experience section">
    <div class="section-inner shadow-sm rounded">
        <h2 class="heading">{% trans "Work Experience" %}</h2>
        <div class="content">
            {% for job in candidate.jobs.all %}
                <div class="item load-more-card" hidden>
                    <h3 class="title">
                        {{ job.title }}
                        <span class="place">
                            <a href={{ job.company_link }}>{{ job.company }}</a>
                        </span>
                        <span class="year">({{ job.date_from|date:"F Y" }} -
                            {% if job.date_to %}
                                {{ job.date_to|date:"F Y" }}
                            {% else %}
                                {% trans "Present" %}
                            {% endif %}
                        )</span>
                    </h3>
                    <p>{{ job.description }}</p>
                </div>
                <!--//item-->
            {% endfor %}
            {% include "includes/load_more_button.html" %}
        </div>
        <!--//content-->
    </div>
    <!--//section-inner-->
</section>
<!--//section-->
