<section class="experience section">
    <div class="section-inner shadow-sm rounded">
        <h2 class="heading">Work Experience</h2>
        <div class="content">
            {% for job in candidate.jobs.all %}
                <div class="item">
                    <h3 class="title">
                        {{ job.title }}
                        <span class="place">
                            <a href={{ job.company_link }}>{{ job.company }}</a>
                        </span>
                        <span class="year">({{ job.date_from|date:"F Y" }} - {{ job.date_to|date:"F Y"|default:"Present" }})</span>
                    </h3>
                    <p>{{ job.description }}</p>
                </div>
                <!--//item-->
            {% endfor %}
        </div>
        <!--//content-->
    </div>
    <!--//section-inner-->
</section>
<!--//section-->
